* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(209, 197, 181);
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 30px;
}

.header {
    background-color: rgb(177, 167, 155);
    flex: 0 0 200px;
}

#icones {
    display: flex;
    justify-content: space-evenly;
}

.icones {
    background-color: rgb(131, 123, 113);
    flex: 0 0 50px;
    border-radius: 8px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botoes {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 0 0 300px;
}

.botoes {
    background-color: rgb(131, 123, 113);
    margin: 5px;
    flex: 0 0 130px;
    border-radius: 30px;
}

#imagem, #conteudo {
    background-color: rgb(177, 167, 155);
    margin: 10px auto;
    height: 37vh;
    width: 70vw;
    border-radius: 30px;
}

#conteudo {
    display: flex;
}

.conteudo {
    background-color: rgb(131, 123, 113);
    flex: 1;
    margin: 5px;
    /* border-radius: 25px; */
}

#conteudo-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: min-content auto min-content;
    gap: 4px;
}

.conteudo-item {
    background-color: rgb(94, 88, 81);
}

#conteudo-item-1 {
    grid-column: 1/3;
}

#conteudo-item-4 {
    grid-column: 1/3;
}